/*-------\
| colors |
\-------*/

// basic 

$light: whitesmoke;
$dark: #080808;
$pure-white: #fff;
$primary-color: #b9c6d2;
$secondary-color: #d0dde9;
$tertiary-color: #edf0f8;
$accent-color: #ff3e00;
$heading-color: rgba(0, 0, 0, 0.7);
$text-color: #444;
$background-without-opacity: rgba(255, 255, 255, 0.7);

// Jewels
$diamond: #b9f2ff;
$emerald: #50C878;
$jade: #00a86b;
$ruby: #9b111e;
$amethyst:  #96c;
$lapis: #2b6199;
$anthracite: #303030;

// metallic colors
$aluminium: #848794;

